.hero-left {
  align-items: start;
}
.hero-left h4 {
  font-size: 14px;
  letter-spacing: 2px;
  color: #888;
  text-align: left;
}

.hero-left h1 {
  font-size: 50px;
  font-weight: 800;
  color: #1a1a1a;
  line-height: 1.2;
  text-align: left;
}

.hero-left h1 span {
  color: #21a067;
}

.hero-left p {
  margin: 20px 0;
  max-width: 350px;
  color: #555;
  line-height: 1.6;
  text-align: left;
}

.hero-btn {
  display: inline-block;
  padding: 12px 26px;
  background: #21a067;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
  transition: 0.2s;
  width: 150px;
}

.hero-btn:hover {
  background: #1a8659;
}
